reader-app/resources/odd/andrews.odd

<?xml-model href="teipublisher_odds.xsd"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Emma B. Andrews Diary</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl/>
        </encodingDesc>
        <revisionDesc>
            <change when="2021-03-28-07:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="andrews" source="teipublisher.odd"> <elementSpec ident="date" mode="change">
                    <model output="print" predicate="text()" behaviour="inline"/>
                    <model output="print" predicate="@when and not(text())" behaviour="inline">
            <param name="content" value="@when"/>
        </model>
                    <model output="web" predicate="@when" behaviour="alternate">
            <param name="default" value="."/>
            <param name="alternate" value="@when"/>
        </model>
                    <model predicate="text()" behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="dateline" mode="change">
                    <model behaviour="block">
            <outputRendition xml:space="preserve">
            text-align: right;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="emph" mode="add">
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="idno" mode="add">
                    <model behaviour="link">
            <param name="uri" value="."/>
        </model>
                </elementSpec>
                <elementSpec ident="note" mode="change">
                    <model predicate="parent::person" behaviour="inline"/>
                    <model predicate="parent::place" behaviour="inline">
            <param name="place" value="@place"/>
            <param name="label" value="@n"/>
        </model>
                </elementSpec>
                <elementSpec ident="persName" mode="add">
                    <model behaviour="alternate">
            <param name="default" value="."/>
            <param name="alternate" value="for-each(tokenize(@ref, ' '), function($a as xs:string) { id(substring-after($a, '#'), collection('/db/apps/emmabandrews/data/indices')/id('people')) })"/>
            <outputRendition xml:space="preserve">
            color: #A88E7E;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="person" mode="add">
                    <modelSequence>
            <model behaviour="block">
                <param name="content" value="persName"/>
            </model>
            <model behaviour="block">
                <param name="content" value="note/node()"/>
            </model>
            <model behaviour="block">
                <param name="content" value="idno"/>
            </model>
        </modelSequence>
                </elementSpec>
                <elementSpec ident="place" mode="add">
                    <modelSequence>
            <model behaviour="block">
                <param name="content" value="placeName"/>
            </model>
            <model behaviour="block">
                <param name="content" value="note/node()"/>
            </model>
            <model behaviour="block">
                <param name="content" value="idno"/>
            </model>
        </modelSequence>
                </elementSpec>
                <elementSpec ident="placeName" mode="add">
                    <model behaviour="alternate">
            <param name="default" value="."/>
            <param name="alternate" value="id(substring-after(@ref, '#'), collection('/db/apps/emmabandrews/data/indices')/id('places'))"/>
            <outputRendition xml:space="preserve">
            color: #A88E7E;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="ref" mode="change">
                    <model predicate="parent::head" behaviour="link">
            <param name="uri" value="@target"/>
            <outputRendition xml:space="preserve">
            
            
            
            
            display: block;
text-align: right;
            
            
            
            
            </outputRendition>
        </model>
                    <model predicate="not(@target)" behaviour="inline"/>
                    <model predicate="not(node())" behaviour="link">
            <param name="content" value="@target"/>
            <param name="uri" value="@target"/>
        </model>
                    <model behaviour="link">
            <param name="uri" value="@target"/>
        </model>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>