odd/eba-diaries.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Emma B. Andrews Diary</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl/>
        </encodingDesc>
        <revisionDesc>
            <change when="2020-09-18+02:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="emma-dodis" source="teipublisher.odd"> <elementSpec ident="emph" mode="add">
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="persName" mode="add">
                    <model behaviour="alternate">
            <param name="alternate" value="id(substring-after(@ref, '#'), collection('/db/apps/emmabandrews/data')/id('indices'))"/>
            <param name="default" value="."/>
            <outputRendition xml:space="preserve">
            color: orange;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="title" mode="change">
                    <model predicate="@type='main'" behaviour="heading"/>
                    <model predicate="@type='sub'" behaviour="heading">
            <param name="level" value="3"/>
        </model>
                    <model predicate="$parameters?header='short'" behaviour="heading">
            <param name="level" value="5"/>
        </model>
                    <modelSequence predicate="parent::titleStmt/parent::fileDesc">
            <model predicate="preceding-sibling::title" behaviour="text">
                <param name="content" value="' — '"/>
            </model>
            <model behaviour="inline"/>
        </modelSequence>
                    <model predicate="not(@level) and parent::bibl" behaviour="inline"/>
                    <modelSequence predicate="@level='m' or not(@level)">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="ancestor::biblFull" behaviour="text">
                <param name="content" value="', '"/>
            </model>
        </modelSequence>
                    <modelSequence predicate="@level='s' or @level='j'">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="following-sibling::* and     (  ancestor::biblFull)" behaviour="text">
                <param name="content" value="', '"/>
            </model>
        </modelSequence>
                    <modelSequence predicate="@level='u' or @level='a'">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="following-sibling::* and     (    ancestor::biblFull)" behaviour="text">
                <param name="content" value="'. '"/>
            </model>
        </modelSequence>
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="dateline" mode="change">
                    <model behaviour="block">
            <outputRendition xml:space="preserve">
            text-align: right;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="ref" mode="change">
                    <model predicate="parent::head" behaviour="link">
            <param name="uri" value="@target"/>
            <outputRendition xml:space="preserve">
            
            
            display: block;
text-align: right;
font-size: 19px;
            
            
            </outputRendition>
        </model>
                    <model predicate="not(@target)" behaviour="inline"/>
                    <model predicate="not(node())" behaviour="link">
            <param name="content" value="@target"/>
            <param name="uri" value="@target"/>
        </model>
                    <model behaviour="link">
            <param name="uri" value="@target"/>
        </model>
                </elementSpec>
                <elementSpec ident="date" mode="change">
                    <model output="print" predicate="text()" behaviour="inline"/>
                    <model output="print" predicate="@when and not(text())" behaviour="inline">
            <param name="content" value="@when"/>
        </model>
                    <model output="web" predicate="@when" behaviour="alternate">
            <param name="default" value="."/>
            <param name="alternate" value="format-date(@when, '[FNn], [D1o] [MNn] [Y]')"/>
        </model>
                    <model predicate="text()" behaviour="inline"/>
                </elementSpec>
                <elementSpec ident="person" mode="add">
                    <modelSequence>
            <model behaviour="block">
                <param name="content" value="persName[@type='full']"/>
            </model>
            <model behaviour="block">
                <param name="content" value="note/node()"/>
            </model>
            <model behaviour="block">
                <param name="content" value="idno"/>
            </model>
        </modelSequence>
                </elementSpec>
                <elementSpec ident="idno" mode="add">
                    <model behaviour="link">
            <param name="uri" value="."/>
        </model>
                </elementSpec>
                <elementSpec ident="div" mode="change">
                    <model predicate="@type='title_page'" behaviour="block">
            <outputRendition xml:space="preserve">
            border: 1px solid black; padding: 5px;
            </outputRendition>
        </model>
                    <modelSequence predicate="@type='doc'">
            <model behaviour="section">
                <param name="content" value="."/>
            </model>
            <model behaviour="section">
                <param name="content" value="root(.)//facsimile/graphic"/>
            </model>
        </modelSequence>
                    <model behaviour="block"/>
                </elementSpec>
                <elementSpec ident="summary" mode="add"/>
                <elementSpec ident="graphic" mode="change">
                    <model predicate="parent::facsimile" behaviour="inline">
            <param name="url" value="@url"/>
            <pb:template xmlns="" xml:space="preserve"><pb-facs-link facs="[[url]]" emit="transcription"/></pb:template>
        </model>
                    <model behaviour="graphic">
            <param name="url" value="@url"/>
            <param name="width" value="@width"/>
            <param name="height" value="@height"/>
            <param name="scale" value="@scale"/>
            <param name="title" value="desc"/>
        </model>
                </elementSpec>
                <elementSpec ident="teiHeader" mode="change">
                    <model output="latex" behaviour="metadata"/>
                    <model output="fo" behaviour="omit"/>
                    <model output="web" predicate="$parameters?header='short'" behaviour="block"/>
                    <model behaviour="block">
            <param name="content" value=".//summary"/>
        </model>
                </elementSpec>
                <elementSpec ident="note" mode="change">
                    <model predicate="parent::place" behaviour="inline"/>
                    <model predicate="parent::person" behaviour="inline"/>
                    <model behaviour="note">
            <param name="place" value="@place"/>
            <param name="label" value="@n"/>
        </model>
                </elementSpec>
            <elementSpec ident="placeName" mode="add">
                    <model behaviour="alternate">
            <param name="alternate" value="id(substring-after(@ref, '#'), collection('/db/apps/emmabandrews/data')/id('indices'))"/>
            <param name="default" value="."/>
            <outputRendition xml:space="preserve">
            color: green;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="place" mode="add">
                    <modelSequence>
            <model behaviour="block">
                <param name="content" value="note/node()"/>
            </model>
            <model behaviour="block">
                <param name="content" value="idno"/>
            </model>
        </modelSequence>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>